<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <!--    <test name="Chrome Test">-->
    <!--        <parameter name="browser" value="chrome"/>-->
    <!--        <parameter name="platform" value="win"/>-->
    <!--        <classes>-->
    <!--            <class name="Tests.testComments"/>-->
    <!--            <class name="Tests.testLogin"/>-->
    <!--            <class name="Tests.testNavigation"/>-->
    <!--            <class name="Tests.testSubMenu"/>-->
    <!--            <class name="Tests.testSearch"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <test name="API Test">
        <classes>
            <class name="Rest_Assure.restAssurePetTests"/>
        </classes>
    </test>

    <test name="Firefox Test">
        <parameter name="browser" value="firefox"/>
        <parameter name="platform" value="win"/>
        <classes>
            <class name="Tests.testLogin"/>
            <class name="Tests.testNavigation"/>
            <class name="Tests.testSubMenu"/>
            <class name="Tests.testSearch"/>
        </classes>

    </test>

    <!--    <test name="Edge Test">-->
    <!--        <parameter name="browser" value="edge"/>-->
    <!--        <parameter name="platform" value="win"/>-->
    <!--        <classes>-->
    <!--            <class name="Tests.testComments"/>-->
    <!--            <class name="Tests.testLogin"/>-->
    <!--            <class name="Tests.testNavigation"/>-->
    <!--            <class name="Tests.testSubMenu"/>-->
    <!--            <class name="Tests.testSearch"/>-->
    <!--        </classes>-->
    <!--    </test>-->

</suite> <!-- Suite -->